.head1{
    color: var(--primary-text-color);
    text-align: center;
    position:relative;
    font-size:22px
}
.body{
   background-color: var(--w-color);
   border-radius:10%;
   animation: modal 0.5s linear;
   height:80px;
   width:150px;
}

.close1{
    color:var(--primary-text-color);
    background-color: var(--x-color);
    cursor:pointer;
    
}
@media(max-width:400px){
    .head1{
        font-size:20px;
    }
    .body{
        width:90px;
    }
}
@media(max-width:500px) and (min-width:400px){
    .body{
        width:120px;
    }
    .head1{
        font-size:18px;
    }
}
