.weather-container {
    position: relative;
    display: flex;
    top: 160px;
    
    right: 0px;
    max-width: 500px;
    border-radius: 15px;
    box-shadow: inset 0 8px 22px 5px #8b48d7;
    text-align: center;
    backdrop-filter: blur(20px);
    flex-direction: column;
    margin: 0 auto;
}

input {
    width: calc(100% - 16px);
    padding: 5px;
    height: 35px;
    box-sizing: border-box;
    border-radius: 10px;
    border: 1px solid white;
    margin-top: 20px;
    outline: none;
    text-align: center;
}

input:hover {
    border: 1.5px solid #e1a50d;
}

#searchButton {
    background: #8424c8;
    color: white;
    padding: 5px 10px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    width: 100px;
    height: 35px;
    font-size: 15px;
    position: absolute;
    right: 15px;
    top: 70px;
}

#searchButton:hover {
    background: #b987f2;
}

.weather-info {
    font-size: 8em;
    color: #d7d7d7;
    margin: 10px 0;
}

h2, p {
    color: var(--primary-text-color);
    margin: 8px;
    font-size: small;
}

.location {
    font-size: 20px;
    background-color: var(--l-color);
    border-radius: 10px;
    padding: 10px;
    margin-top: 20px;
    transition: 0.5s linear;
    opacity: 1;
    text-align: center;
}

.weather-icon {
    background-color: var(--i-color);
    margin: 20px auto;
}

.temperature {
    font-size: 40px;
    background-color: var(--t-color);
    width: 120px;
    border-radius: 10px;
    margin: 10px auto;
    transition: all 0.5s;
    padding: 10px;
}

.description-Humidity-Wind {
    display: flex;
    gap: 10px;
    justify-content: center;
    margin: 20px 0;
}

#d {
    background: #fbfbfb;
    border: 5px solid rgb(12, 0, 245);
    border-radius: 10px;
    cursor: pointer;
    padding: 5px;
    
}


#d:hover {
    background-color: #7500fc;
    transition: all 0.3s;
}
.h{
    height:200px;
}

.details-modal {
    display: flex;
    gap: 30px;
    background-color: var(--d-color);
    opacity: 1;
    padding: 13px;
    border-radius: 10px;
    backdrop-filter: blur(100px);
    margin: 0 auto;
    justify-content: center;
    position:relative;
    top:3.0em;
    width:max-content;
}

.details-modal .d {
    font-weight: bolder;
}
.h{
    height:70px
}
.loading-screen {
    position: relative;
    top: 15em;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
 /* Optional background */
    z-index: 9999;
  }
  
  .square-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  /* Individual squares */
  .square {
    width: 20px;
    height: 20px;
    margin: 0 5px;
    background-color:var(--primary-text-color);
    opacity: 0;
    animation: fade 1.2s infinite ease-in-out;
  }
  
  /* Animation delays for each square */
  .square:nth-child(1) {
    animation-delay: 0s;
  }
  
  .square:nth-child(2) {
    animation-delay: 0.2s;
  }
  
  .square:nth-child(3) {
    animation-delay: 0.4s;
  }
  
  /* Keyframes for fading effect */
  @keyframes fade {
    0%, 100% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
  }

  
/* Media Queries for Responsive Design */

@media(max-width: 900px) {
    .weather-container {
        width: 90%;
        left: 0;
        margin: 0 auto;
    }
    .details-modal {
        top: 250px;
        width: 100%;
    }
}

@media(max-width: 800px) {
    .weather-container {
        top: 190px;
        left: 0;
        margin: 0 auto;
    }
    .details-modal {
        top: 35vh;
        width: 95%;
    }
}

@media(max-width: 700px) {
    .weather-container {
        top: 150px;
        margin: 0 auto;
    }
    .details-modal {
        top: 200px;
        width: 100%;
        margin: 0 auto;
    }
}

@media(max-width: 600px) {
    .weather-container {
        top: 120px;
        width: 100%;
        left: 10px;
    }
    .details-modal {
        top: 240px;
        width: 100%;
        padding: 10px;
    }
}

@media(max-width: 500px) {
    .weather-container {
        top: 100px;
        left: 0;
        right: -80px;
        margin-left:0;
        width:100%;
    
    }
    .details-modal {
        top: -10px;
        left: -0.1px;
        margin: 0 auto;
        width: max-content;
    }
}
@media(max-width: 400px) {
    .weather-container {
        top: 120px;
        left: 0px;
        width: 100%;
        margin-right:180px;
    }
    .details-modal {
        position:relative;
        top:-60px;
        margin-top:80px;
        left: 0px;
        width: max-content;
        padding: 5px;
    }
    #d{
        width:96px;
    }
}


/*@media(max-width: 300px) {
    .weather-container {
        top: 120px;
        left: 0;
        width: 130%;
        margin-right:0px;
    }
    .details-modal {
        position:relative;
        top:-60px;
        margin-top:80px;
        left: 10px;
        width: max-content;
        padding: 5px;
    }
}*/
